body {background:#fff; color:#333; font: 12px/22px verdana, arial, sans-serif; height:100%; margin:0 auto; width:100%;}
h1 {color:#3a6d8c; font-size:34px; line-height:40px; margin:0;}
h3 {color:#3a6d8c; font-size:22px; line-height:26px; font-weight:normal; margin:0 0 8px 0;}
img {border:0;width: 163px; height: 144px}
#logo {margin-bottom:20px; width:620px;position:relative;float:left;margin-left:10px}
#logo h1 {color:#666; letter-spacing:-1px; font-weight:normal;}
#logo h1 span {color:#444; font-weight:bold;}
#logo .title {color:#999; font-size:12px;}
#container {margin:0 auto; padding-top:20px; width:800px;}
#content {border-bottom:1px dotted #999; border-top:1px dotted #999; padding:40px 0;margin-top:200px} 
#footer {clear:left; color:#888; margin:20px 0;font-size:10px}
#footer a:link, #footer a:visited {color:#888; text-decoration:none;}
#footer a:hover {color:#333; text-decoration:underline;}
#imagen { position:relative;float:left}




.row_login{
	display:block;
	height:20px; 
	padding:0px 5px 0px 0px;
}
	
	.left_login{
		/* width:65px; */
		width:10%;
		float:left;
		padding:   0px 5px 0px 0px ;
		
	}

	.right_login{
		/* width:80px; */
		width:98%;
		float:left;
		padding:   0px 5px 0px 0px ;
			
	}
	
	.text_login
	{
		/* width:150px; */
		width:96%;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 12px;
		padding: 5px  5px 0px 0px;				
	}

#marco
{
	width:30%;
	height:140px;
	border-bottom:solid 1px #ffffff;

	}
	
#dialog-accesoLogin
	{
		display:none;
	}


#bttLogin
{ position:relative  ;
	float:left;
	margin-top:8%}


#marco p { position:relative }

#marco label
  { position:absolute; 
    top:0; 
    left:0;
    font:arial;
    font-size:9px;
   
   }

