body 
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
}

a {
	color: #ddd;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

#frameAbout, #about
{
	position: absolute;
	top: 50%; /* Buscamos el centro horizontal (relativo) del navegador */
	left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
	width: 1000px; /* Definimos el ancho del objeto a centrar */
	height: 700px; /* Definimos el alto del objeto a centrar */
	margin-top: -350px; /* Restamos la mitad de la altura del objeto con un margin-top */
	margin-left: -500px; /* Restamos la mitad de la anchura del objeto con un margin-left */
	border:0px;	
}


#btt_Cerrar_about
{
	position: relative;
	margin-top:650px;
}

#about, #dialog-message
{
	display:none;
}

#header 
{
	position:relative;
    color:#888; 
    font-size:10px;
	text-align:left;
	width:100%;
	height:110px;
	margin-top:0%;
	border-bottom:solid 1px #dddddd;
}

#footer 
{
    position:absolute;
    color:#888; 
    font-size:10px;
	text-align:left;
	width:99%;
	height:31px;
	margin-bottom:0%;
	border-top:solid 1px #dddddd;	
	bottom:6px;
}

#footer a {
	color: #888;
	text-decoration: none;
}

#infoUser
{
	position:absolute;
    color:#888;
    right:0;
    font-size:10px;
	text-align:left;
	border:solid 0px #dddddd; 
	top:8px;
}

#txtUserName 
{
	position:relative;
	text-align:right;
	font-weight:normal;
    color:#888;
    font-size:10px;
    letter-spacing:0px;  
    width:400px;
    right:70px;
}



/* div Principal*/

#principal 
{
    border:solid 1px #dddddd; 
    height:100%;
    /*
	position:absolute;
    margin-top:32px;
    left:280px;
	width:100% - 265px;
	height:730px;
	border:solid 0px #dddddd; 
	overflow:scroll;
	display:none;
*/
}

#bttSalir
{
	position:absolute;
	top:3px;
	right:0px;
}


.ui-menu {
    width: 95%;
     
}

	
#imgLogo {border:0;width: 163px; height: 144px}
#infoLogo {margin-bottom:20px; width:620px;position:relative;float:left;margin-left:10px}
#infoLogo h1 {color:#666; letter-spacing:-1px; font-weight:normal; height:30px;}
#infoLogo h1 span {color:#444; font-weight:bold; font-size:35px;}
#infoLogo .title {color:#999; font-size:14px;}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/


#principal 
{
    margin:0 auto; 
    padding-top:20px; 
    width:980px;
}


.ui-combobox 
{
    position: relative;
    display: inline-block;
    /*width: 55%;*/
 }
 

.ui-combobox-button {
    position: absolute !important;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.ui-combobox .ui-button
{
    float:left;
}

 fieldset 
{
    padding:0; 
    border:0; 
    margin-top:25px; 
}
h1 
{
    font-size: 1.2em; 
    margin: .6em 0; 
}

 #frmPrincipal
{
    font-size: 10px;
}
        
     
.newFila{
    margin: 0 0 0 0;
	border : solid 0px;
}

.newCelda{
    width:32% !important;
    display:inline-block;
}


.newCelda label 
{
	display: inline-block;
	width: 35%;
	text-align: right;
	margin: 10px
}

.newCelda .celdaValor
{
    width:55%;
    display:inline-block;
}

.celdaValor .ui-combobox
{
  	width: 95%; 
}


.celdaValor .ui-combobox .ui-combobox-input
{
  	width: calc(95% - 24px);
}


.celdaDialogo{
    width:100% !important;
    display:inline-block;
}


.celdaDialogo label 
{
	display: inline-block;
	width: 30%;
	text-align: right;
	margin: 10px
}

.celdaDialogo .valorDialogo
{
    width:60%;
    display:inline-block;
}

.valorDialogo .ui-combobox
{
  	width: 95%; 
}


.valorDialogo .ui-combobox .ui-combobox-input
{
  	width: calc(95% - 24px);
}

input[type=text], .ui-combobox-input
{
  	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
  	padding: 2px 5px 2px 5px ;
  	font-size: 1em;
  	/*background: rgba(0, 0, 0, 0.07);*/
}

.opcionRadioCorto
{
    display: inline-block;
	width: 25px !important;
	text-align: left !important;
	margin: 0px !important;
}

.opcionRadioMedio
{
    display: inline-block;
	width: 53px !important;
	text-align: left !important;
	margin: 0px !important;
}

.newFila input[type=radio]
{
  	padding: 0px;
  	padding: 0px;
  	height:14px;
  	font-size: 1em;
}


    
.numericoCorto
{
    width:25%;
    text-align:right;
}

.numericoMedio
{
    width:50%;
    text-align:right;
}

.numericoLargo
{
    width:90%;
    text-align:right;
} 
   
   
   
            
.text
{
    float:left; 
    width:55%; 
}

 table .numerico
{
    float:left; 
    width:80%; 
    text-align:right;
}
        
table .numericoCorto
{
    float:left; 
    width:20px; 
    text-align:right;
}
                
table .text
{
    float:left; 
    width:80%; 
}
        
table .text-medio
{
    float:left; 
    width:40%; 
}

.run
{
    width:90% !important; 
    text-align:right;
}
        
.datepicker
{
    width:80px !important; 
}

.ui-datepicker-trigger
{
    vertical-align:middle;
}

.contenedor-tabla-tiempos, .contenedor-tabla-simple
{ 
    border: 1px solid #dddddd; 
}

.contenedor-tabla-tiempos table 
{ 
    margin: 1em 0; 
    border-collapse: collapse; 
    width: 580px;
}
.contenedor-tabla-tiempos table td, .contenedor-tabla-tiempos table th 
{ 
    border: 1px solid #eee; 
    padding: .6em 10px; 
    text-align: left; 
}    

.contenedor-tabla-simple table 
{ 
    margin: 1em 0; 
    border-collapse: collapse; 
    width: 470px;
}

.contenedor-tabla-simple table td, .contenedor-tabla-simple table th 
{ 
    border: 1px solid #eee; 
    padding: .6em 10px; 
    text-align: left; 
}

.ui-dialog .ui-state-error 
{ 
    padding: .3em; 
}
.validateTips { 
    border: 1px solid transparent; 
    padding: 0.3em; 
}

.ui-dialog .ui-state-error  
{
    padding: .3em; 
}

.validateTips  
{
    border: 1px solid transparent; padding: 0.3em; 
}

#tblAbonos td, #tblConcurrencias td
{
    text-align:right;
}

.columDescripcionTiempo
{
   width:300px;
}

.columInstitucion
{
   width:400px;
}

.columNumericaTiempo
{
   width:70px;
}

.columBotones
{
   width:70px;
}

.peso
{
   float:left;
}

.fila
{
   display:table-row;
}

.borde-solido{
    border: 1px solid black;
}
        
#tblDistribucion
{
    float:left;
    border-collapse: collapse;
    width:25%; 
    border: 1px solid black;
}






#tblDetalleServicios
{
    border-collapse: collapse;
    width:100%; 
    border: 1px solid black;
}

.contenedor-tabla-servicios
{
    width:100%; 
    display:table-cell;
}

.contenedor-tabla-servicios td
{
    text-align:right;
}





#tblDistribucion
{
    border-collapse: collapse;
    width:100%; 
    border: 1px solid black;
}

#tblConcurrenciasSalida
{
    border-collapse: collapse;
    width:100%; 
    border: 1px solid black;
}

.contenedor-tabla-distribucion
{
    width:50%; 
    display:table-cell;
    padding-right:5px;
}

.contenedor-tabla-concurrencias
{
    width:40%; 
    display:table-cell;
    padding-left:5px;
}





.espacio-vertical
{
    margin-top:25px;
}



.contenedor-tabla-18263
{
    width:50%; 
    display:table-cell;
    padding-right:5px;
}

.contenedor-tabla-18694
{
    width:40%; 
    display:table-cell;
    padding-left:5px;
}

#tblLey18263
{
    border-collapse: collapse;
    border: 1px solid black;
}

#tblLey18694
{
    border-collapse: collapse;
    border: 1px solid black;
}

#tblConcurrenciasSalida tbody tr td
{
    width:50%;
}




input[type=text]:disabled, .ui-combobox-input:disabled {
    background: #e6e6e6;
}
/*
background: rgba(0, 0, 0, 0.07);
*/
